<div class="container-fluid">
  <div class="row" >
    <div class = "col-md-2 sidebar">
      <div class="page-title">
        <i class="fas far fa-clipboard"> グループ連絡</i>
      </div>
    </div>
    <div class = "col-md-10 mt-3">
      <div class="card shadow rounded-start"style="width: 100%">
      <div class="card-header">
        <h6 class="m-0 font-weight-bold title">グループ連絡</h6>
      </div>  
      <div class="card-body"> 
        <table class="table">
          <thead>
            <tr>
              <th>既読チェック</th>
              <th>投稿日</th>
              <th>投稿者</th>
              <th>タイトル</th>
              <th>内容</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <%= form_with model: @group_message_new,url: member_group_messages_path(@group_message),local: true do |f| %>
            <td></td>
            <td></td>
            <td></td>
            <td><%= f.text_field :title %></td>
            <td><%= f.text_area :body  %></td>
              <%= f.hidden_field :member_id, value: @current_member.id %>
              <%= f.hidden_field :group_id, value: @current_member.group.id %>
            <td><%= f.submit "連絡事項追加", class: "btn btn-success" %></td>
            <% end %>
          </tr>
        <% @group_messages.each do |group_message| %>
          <tr>
              <!--チェック機能-------------------->
            <td>
              <div id="check_buttons_<%= group_message.id %>">
              <%= render "check" ,group_message: group_message%> 
              </div>
            </td>  
              <!---------------------------------->
            <td style="width:5%"><%= l group_message.created_at, format: :short %></td>
            <% if group_message.manager_id == nil %>
              <td style="width:8%"><%= group_message.member.name %></td>
            <% else %>
              <td class="text text-success">マネジャー</td>
            <% end %>
 
              <% if group_message.member_id != current_member.id %>
                <td style="width:8%"><%= group_message.title%></td>
                <td><%= group_message.body %></td>
              <% else %>
                <%= form_with model: group_message ,url: member_group_message_path(group_message),local: true do |f| %>
                  <td style="width:8%"><%= f.text_field :title ,style: "border: none" %></td>
                  <td><%= f.text_area :body  ,:size=>"120x2",style: "border: none"%></td>
                  <td><%= f.submit "変更", class: "btn btn-success" %></td>
                  <td><%= link_to "消去",member_group_message_path(group_message), class: "btn btn-danger" ,method: :delete %></td>
              <% end %>
            <% end %>
          </tr>
          
        <% end %>
          </tbody>
        </table>
      </div>
    </div>  
  </div>
  </div>
</div>