<h1>member::GroupMessages#show</h1>
<table class="table">
  <thead>
    <tr>
      <th>投稿日</th>
      <th>投稿者</th>
      <th>タイトル</th>
      <th>内容</th>
    </tr>
  </thead>
<tbody>
  <tr>
    <%= form_with model: @group_message_new,url: member_group_messages_path(@group_message),local: true do |f| %>
    <td></td>
    <td></td>
    <td><%= f.text_field :title %></td>
    <td><%= f.text_field :body  %></td>
      <%= f.hidden_field :member_id, value: @member_id %>
      <%= f.hidden_field :group_id, value: @group.id %>
    <td><%= f.submit "連絡事項追加", class: "btn btn-success" %></td>
    <% end %>
  </tr>
<% @group_messages.each do |group_message| %>
  <tr>
    <td style="width:5%"><%= l group_message.created_at, format: :short %></td>
    <% if group_message.manager_id == nil %>
    <td style="width:8%"><%= group_message.member.name %></td>
    <% else %>
    <td class="text text-success">マネジャー</td>
    <% end %>
    <%= form_with model: group_message ,url: member_group_message_path(group_message),local: true do |f| %>
    <td style="width:8%"><%= f.text_field :title ,style: "border: none" %></td>
    <td><%= f.text_area :body  ,:size=>"120x2",style: "border: none"%></td>

    <!--チェック機能-->
    <td> 
      <% if group_message.checkd_by?(current_member) %>
        <%= link_to member_group_message_checks_path(group_message.id), method: :delete do %>
          <i class="far fa-check-square fa-3x text text-success"></i>
          <%= group_message.checks.count %>人既読
        <% end %>
      <% else %>
        <%= link_to member_group_message_checks_path(group_message.id), method: :post do %>
          <i class="far fa-check-square fa-3x text text-dark"></i>
        <% end %>
      <% end %>
    </td>   
    <!------------------->
    <td><%= f.submit "変更", class: "btn btn-success" %></td>
     <td><%= link_to "消去",member_group_message_path(group_message), class: "btn btn-danger" ,method: :delete %></td>
    <% end %>
  </tr>
  
<% end %>
  </tbody>
</table>


