<div class="container-fluid">
  <div class="row">
    <div class = "col-md-2 sidebar">
      <div class="page-title">
        <i class="fas fa-chart-pie "> Abilty</i>
      </div>
      <%= render "manager/members/sideber", members: @members %>
    </div>
    <div class="col-md-10">
      <!--errormessage---------------->
      <%= render 'layouts/errors', obj: @education  %>
      <%= render 'layouts/errors', obj: @task %>
      <!------------------------------>
        <div class="row">
        <div class ="col-md-5">
      <%= render "manager/members/ability"%>
               </div>
        </div> 
    </div>
    </div>  

      <div class="row">
        <div class="col-md-5">
          <div class="card shadow rounded-start" >
            <div class="card-header">
              <h6 class="m-0 font-weight-bold title">Abilty Chart</h6>
            </div>
            <div class="card-body">
              <canvas id="myChart" height="100%" width="100"></canvas>
            </div>
          </div>
        </div>  
      </div>  
    </div>
  </div>  
</div>        
        
  <%= render partial: "manager/members/chart", locals: { ability_titles: @ability_titles, abilities: @abilities }%>