<div class="container-fluid">
    <div class="row" style="height: 100%">
      <!--sidebar-------------------------->
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2 sidebar">
        <div class="page-title">
          <i  class="fas fa-sign-in-alt"> メンバー ログイン</i>
        </div>
      </div>
      <!--sidebar-------------------------->
      <div class = "col-lg-2 col-md-2 col-sm-2 col-2"></div>
      <!--card----------------------------------->
      <div class="col-lg-10 col-md-10 col-sm-10 col-10">
        <div class="row">
          <div class="mx-auto w-50">
            <div class="card shadow rounded-start" >
              <div class="card-header">
                <h6 class="m-0 font-weight-bold title">メンバー ログイン</h6>
              </div>
              <div class="card-body text-center">      
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-group">
                    <%= f.label :email,"メールアドレス" %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control", placeholder: "メールアドレスを入力してください"%>
                  </div>
                  <div class="form-group">
                    <%= f.label :password,"パスワード"  %><br />
                    <%= f.password_field :password, autocomplete: "current-password",class: "form-control", placeholder: "パスワードを入力してください" %>
                  </div>
                  <% if devise_mapping.rememberable? %>
                    <div class="form-group">
                      <%= f.check_box :remember_me  %>
                      <%= f.label :remember_me ,"パスワードを記憶する"%>
                    </div>
                  <% end %>
                
                  <div class="actions">
                    <%= f.submit  "メンバーログイン", class: "btn btn-secondary form-control" %>
                  </div>
                <% end %>
                <%= render "members/shared/links" %>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>                