<div id="education-error">
</div>
<%= form_with model: education_new,url: manager_educations_path(education),remote: true do |f| %>
<div class ="form-inline">
    <%= f.text_field :title,class: "form-control w-25",id: "education_title",placeholder: "教育項目を入力してください" %>
    <%= f.text_field :body ,class: "form-control w-50",id: "education_body",placeholder: "教育内容を入力してください"  %>
    <%= f.submit "教育項目追加", class: "btn btn-secondary form-control w-25" %>
    <%= f.hidden_field :member_id, value: member_id %>
  <% end %>
</div>



