<div id="task-error">
</div>
  
<%= form_with model: task_new,url: manager_tasks_path(task), id: "form" ,remote: true do |f| %>
    <div class="form-inline">
      <%#= f.label :start_on, "開始日", class: "text-secondary"%>
      <%= date_field_tag 'task[start_on]',  Date.today ,class: "form-control" %> 　～　
      <%#=f.label :end_on,"終了日" , class: "text-secondary" %>
      <%= date_field_tag 'task[end_on]', nil ,class: "form-control"%>
    </div>
    <div class="form-inline mt-1">
      <%= f.text_field :title,class: "form-control w-25" ,placeholder: "課題項目を入力してください" %>
      <%= f.text_area :body ,class: "form-control w-50 auto-resize", placeholder: "課題内容を入力してください"  %>
      <%= f.hidden_field :member_id, value: member_id %>
      <%= f.submit "課題項目追加", class: " form-control w-25 btn btn-secondary" %>
    </div>
      <% end %>