
  <div class="row" >
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2 sidebar">
      <div class="page-title">
        <i class="fas fa-address-card "> プロフィール編集</i>
      </div>
      <%= render "sideber", members: @members %>
    </div>
    <!--sidebar-------------------------->
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2"></div>
    <!--card----------------------------------->
    <div class="col-lg-10 col-md-10 col-sm-10 col-10">
        <div class="row">
          <div class="mx-auto w-50">
            <div class="card shadow rounded-start mt-3" >
              <div class="card-header">
                <h6 class="m-0 font-weight-bold title"><%=@member.name %>のプロフィール編集</h6>
              </div>
              <div class="card-body text-center">      
                <%= form_with model: @member, url: manager_member_path, local: true , method: :patch do |f| %>
                  <div class="form-group">
                   <%= f.attachment_field :image %>
                    <%= f.submit '画像投稿' %>
                  <div class="form-group"><br />
                    <%= f.label :name ,"名前" %><br />
                    <%= f.text_field :name, autofocus: true, class: "form-control" ,placeholder: "変更する名前を入力してください" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :name_kana ,"ふりがな" %><br />
                    <%= f.text_field :name_kana, autofocus: true, class: "form-control", placeholder: "変更するふりがなを入力してください" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :email, "メールアドレス" %><br />
                    <%= f.email_field :email, class: "form-control", placeholder: "変更するメールアドレスを入力してください"  %>
                  </div>
            
                  <div class="form-group">
                    <%= f.label :phone_number ,"電話番号" %><br />
                    <%= f.text_field :phone_number, class: "form-control", placeholder: "変更する電話番号を入力してください"   %>
                  </div>
                  <div class="row mb-3">
                  <%= f.label :is_deleted, "会員ステータス", class: "col-md-4"  %>
                  <%#= f.radio_button :is_deleted, false, class: 'form-control-md mr-1', style: "width: 20px; height: 20px;" %><span class="mr-5">有効</span>
                  <%#= f.radio_button :is_deleted, true, class: 'form-control-md mr-1', style: "width: 20px; height: 20px;" %><span>退会</span>
                  </div>
              
                  <div class="form-group">
                    <%= f.submit "変更内容を保存", class: "btn btn-outline-success" %>
                  </div>
                <% end  %>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
