<div class="container-field">
  <div class="row" >
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2 sidebar">
      <div class="page-title">
        <i class="fas fa-address-card "> プロフィール</i>
      </div>
      <%= render "sideber", members: @members %>
    </div>
    <!--sidebar-------------------------->
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2"></div>
    <!--card----------------------------------->
    <div class="col-lg-10 col-md-10 col-sm-10 col-10">
      <div class = "row">
        <div class = "col-lg-6">
          <div class="card shadow rounded-start mt-3"style="height: 18rem;" >
            <div class="card-header">
              <h6 class="m-0 font-weight-bold title">プロフィール</h6>
            </div>  
            <div class="card-body text-nowrap ">  
              <div class="profilre">
                <div class="profilre-left">
                  <%= attachment_image_tag @member, :image , format: 'jpeg', fallback: "member-no-image.jpg" ,:height => '150' %><br>
                </div>
                <div class="profilre-right">
                  <p><%= @member.name %></p>
                  <p><%= @member.name_kana %></p>
                  <p><%= @member.email %></p>
                  <p><%= @member.phone_number %></p>
                  <p><%= @member.is_deleted %></p>
                  <p><%= link_to "プロフィール編集" ,edit_manager_member_path ,class: "btn btn-sm btn-outline-success "%></p>
                </div>  
              </div>
            </div>  
          </div>
          <%= render "ability"%>
        </div>
        <div class="col-lg-6">
          <div class="card shadow rounded-start mt-3" >
            <div class="card-header">
            <h6 class="m-0 font-weight-bold title">能力ステータス</h6>
            </div>
              <div class="card-body ">
                <canvas id="myChart" width="100%" height="100%"></canvas>
              </div>
          </div>
        </div>
      </div>  
      <div class="row">
        <div class="card shadow rounded-start m-3" style="width: 100%">
          <div class="card-header">
            <h6 class="m-0 font-weight-bold title">教育管理</h6>
          </div>  
          <div class="card-body" >  
            <%= render partial: "education", locals: { education_new: @education_new, educations: @educations,education: @education,member_id: @member_id }%>
          </div>
        </div>  
        <div class="card shadow rounded-start m-3" style="width: 100%">
          <div class="card-header">
            <h6 class="m-0 font-weight-bold title">課題管理</h6>
          </div>  
          <div class="card-body ">  
            <%= render partial: "task", locals: { task_new: @task_new, task: @task,tasks: @tasks,member_id: @member_id }%>
          <%= paginate @tasks %>
        </div>
      </div>
    </div>
  </div>
</div>


    <%= render partial: "chart", locals: { ability_titles: @ability_titles, abilities: @abilities }%>