<div class="about">
  <div class="row" style="height: 100%">
    <!--sidebar-------------------------->
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2 sidebar">
      <div class="page-title">
        <i  class="far fa-question-circle">　使い方</i>
      </div>
      <ul class="text-nowrap list-unstyled text-left" style="font-size:20px;">
        <li class="mt-2 font-weight-bold"style="font-size:25px;" >・マネジャー側</li>
        <li class="mt-2"><a href="#anc1"  class="text-white p-3">店舗登録</a></li>
        <li class="mt-2"><a href="#anc2"  class="text-white p-3">メンバー追加</a></li>
        <li class="mt-2"><a href="#anc3"  class="text-white p-3">教育管理</a></li>
        <li class="mt-2"><a href="#anc4"  class="text-white p-3">課題管理</a></li>
        <li class="mt-2"><a href="#anc5"  class="text-white p-3">能力管理</a></li>
        <li class="mt-2"><a href="#anc6"  class="text-white p-3">メッセージ</a></li>
        <li class="mt-2"><a href="#anc7"  class="text-white p-3">店舗連絡</a></li>
        <li class="mt-2 font-weight-bold"style="font-size:25px;" >・メンバー側</li>
        <li class="mt-2"><a href="#anc8"  class="text-white p-3">メンバーログイン</a></li>
        <li class="mt-2"><a href="#anc9"  class="text-white p-3">メンバー機能</a></li>
      </ul>
    </div>
    <!--sidebar-------------------------->
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2"></div>
    <!--card----------------------------------->
    <div  class="col-lg-10 col-md-10 col-sm-10 col-10">
      
      <a id="anc1" class="anchor"></a>
      <div id="店舗登録"class="card shadow rounded-start mt-5" style="width: 100%">
        <div class="card-header bg-se">
          <h4 class="m-0 font-weight-bold title">店舗登録</h4>
        </div>  
        <div class="card-body-board">
          <div class="container">
            <div class="row p-3">
              <%= image_tag  asset_path("店舗登録01.jpg")%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark w-100">
                <li class="mt-2" style="font-size:20px;">店舗名の入力</li>
                <li class="mt-2">赤枠に登録したい店舗名を入力します</li>
              </ul>
              <%= image_tag  asset_path("店舗登録02.jpg"),class: "mt-5" %>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2" style="font-size:20px;">登録ボタンを押します</li>
              </ul>              
              <%= image_tag  asset_path("店舗登録03.jpg"),class: "mt-5"%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2 " style="font-size:20px;">店舗の登録が完了しました</li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
      <a id="anc2" class="anchor"></a>
      <div id="メンバー追加"class="card shadow rounded-start mt-5" style="width: 100%">
        <div class="card-header bg-se">
          <h4 class="m-0 font-weight-bold title">メンバー追加</h4>
        </div>  
        <div class="card-body-board">
          <div class="container">
            <div class="row p-3">
              <%= image_tag  asset_path("メンバー登録01.jpg")%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark w-100">
                <li class="mt-2" style="font-size:20px;">メンバーの追加をクリックします</li>
                
              </ul>
              <%= image_tag  asset_path("メンバー登録02.jpg"),class: "mt-5" %>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2" style="font-size:20px;">情報の入力</li>
                <li class="mt-2">新しいメンバーの情報を入力し登録ボタンをおします</li>
                <li class="mt-2">パスワードはメンバーに口頭で伝えてください</li>
                <li class="mt-2">ここで入力したemailとパスワードでメンバー側はログインできます</li>
              </ul>              
              <%= image_tag  asset_path("メンバー登録03.jpg"),class: "mt-5"%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2 " style="font-size:20px;">メンバーの追加が完了しました。</li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
      <a id="anc3" class="anchor"></a>
      <div id="教育管理"class="card shadow rounded-start mt-5" style="width: 100%">
        <div class="card-header bg-se">
          <h4 class="m-0 font-weight-bold title">教育管理</h4>
        </div>  
        <div class="card-body-board">
          <div class="container">
            <div class="row p-3">
              <%= image_tag  asset_path("教育管理01.jpg")%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark w-100">
                <li class="mt-2" style="font-size:20px;">教育項目の追加</li>
                <li class="mt-2">赤枠に登録したい教育項目と教育内容を入力します</li>
                <li class="mt-2">教育項目追加ボタンをクリックします</li>
              </ul>
              <%= image_tag  asset_path("教育管理02.jpg"),class: "mt-5" %>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2" style="font-size:20px;">教育項目の更新</li>
                <li class="mt-2">①　教育項目タイトルを変更できます</li>
                <li class="mt-2">②　教育内容を入力できます(最大200文字)</li>
                <li class="mt-2">①　進捗率はスライドで変更できます</li>
                <li class="mt-2">変更ボタンで変更を反映できます</li>
              </ul>              
            </div>
          </div>
        </div>
      </div> 
      <a id="anc4" class="anchor"></a>
      <div id="課題管理"class="card shadow rounded-start mt-5" style="width: 100%">
        <div class="card-header bg-se">
          <h4 class="m-0 font-weight-bold title">課題管理</h4>
        </div>  
        <div class="card-body-board">
          <div class="container">
            <div class="row p-3">
              <%= image_tag  asset_path("課題管理01.jpg")%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark w-100">
                <li class="mt-2" style="font-size:20px;">課題項目の追加</li>
                <li class="mt-2">赤枠に登録し課題項目と課題内容を入力します</li>
                <li class="mt-2">課題項目追加をクリックします</li>
              </ul>
              <%= image_tag  asset_path("課題管理02.jpg"),class: "mt-5" %>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2" style="font-size:20px;">課題項目追加ボタンを押します</li>
              </ul>              
              <%= image_tag  asset_path("課題管理03.jpg"),class: "mt-5"%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2 " style="font-size:20px;">まだ途中</li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
      <a id="anc5" class="anchor"></a>
      <div id="能力管理"class="card shadow rounded-start mt-5" style="width: 100%">
        <div class="card-header bg-se">
          <h4 class="m-0 font-weight-bold title">能力管理</h4>
        </div>  
        <div class="card-body-board">
          <div class="container">
            <div class="row p-3">
              <%= image_tag  asset_path("能力評価01.jpg")%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark w-100">
                <li class="mt-2" style="font-size:20px;">評価項目の追加</li>
                <li class="mt-2">①赤枠に評価項目を入力し項目追加ボタンを押します</li>
                <li class="mt-2">評価項目は店舗メンバー全員で共有されます</li>
                <li class="mt-2">②グラフは評価項目に値をいれないうちは白紙になっています</li>
              </ul>
              <%= image_tag  asset_path("能力評価02.jpg"),class: "mt-5" %>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2" style="font-size:20px;">値の更新</li>
                <li class="mt-2">①評価項目はいつでも更新できます。</li>
                <li class="mt-2">②そのメンバーの評価をします(ここでは5段階ですが100点満点でも評価できます)。</li>
              </ul>              
              <%= image_tag  asset_path("能力評価03.jpg"),class: "mt-5"%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2 " style="font-size:20px;">評価項目と値が入力されるとグラフに反映されます</li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
      <a id="anc6" class="anchor"></a>
      <div id="メッセージ"class="card shadow rounded-start mt-5" style="width: 100%">
        <div class="card-header bg-se">
          <h4 class="m-0 font-weight-bold title">メッセージ</h4>
        </div>  
        <div class="card-body-board">
          <div class="container">
            <div class="row p-3">
              <%= image_tag  asset_path("メッセージ01.jpg")%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark w-100">
                <li class="mt-2" style="font-size:20px;">赤枠内にメッセージを入力しメッセージを送るボタンを押します</li>
              </ul>
              <%= image_tag  asset_path("メッセージ02.jpg"),class: "mt-5" %>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2" style="font-size:20px;">メンバー側画面</li>
                <li class="mt-2">①マネジャーから送られてきたメッセージです</li>
                <li class="mt-2">②自身もメッセージを返すことができます</li>
              </ul>              
              <%= image_tag  asset_path("メッセージ03.jpg"),class: "mt-5"%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2 " style="font-size:20px;">自身のメッセージが右側・相手のメッセージが左側です</li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
      <a id="anc7" class="anchor"></a>
      <div id="メッセージ"class="card shadow rounded-start mt-5" style="width: 100%">
        <div class="card-header bg-se">
          <h4 class="m-0 font-weight-bold title">店舗連絡</h4>
        </div>  
        <div class="card-body-board">
          <div class="container">
            <div class="row p-3">
              <%= image_tag  asset_path("店舗連絡01.jpg")%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark w-100">
                <li class="mt-2" style="font-size:20px;">赤枠の部分にタイトルと内容を入力します</li>
              </ul>
              <%= image_tag  asset_path("店舗連絡02.jpg"),class: "mt-5" %>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2" style="font-size:20px;">内容は300文字まで入力可能です</li>
              </ul>              
              <%= image_tag  asset_path("店舗連絡03.jpg"),class: "mt-5"%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2 " style="font-size:20px;">投稿の編集</li>
                <li class="mt-2">①タイトルを変更できます。</li>
                <li class="mt-2">②内容を変更です</li>
                <li class="mt-2">③チェックボタンにマウスを当てると既読したメンバーが確認できます</li>
                <li class="mt-2">内容を変更したら変更ボタンを押して更新します</li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
      <a id="anc8" class="anchor"></a>
      <div id="メッセージ"class="card shadow rounded-start mt-5" style="width: 100%">
        <div class="card-header bg-se">
          <h4 class="m-0 font-weight-bold title">メンバーログイン</h4>
        </div>  
        <div class="card-body-board">
          <div class="container">
            <div class="row p-3">
              <%= image_tag  asset_path("メンバーログイン01.jpg")%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark w-100">
                <li class="mt-2" style="font-size:20px;">メンバーログインボタンをおします</li>
                <li class="mt-2">赤枠に登録したい店舗名を入力します</li>
              </ul>
              <%= image_tag  asset_path("メンバーログイン02.jpg"),class: "mt-5" %>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2" style="font-size:20px;">自分のアドレスと、マネジャーから教えられたパスワードでログインします</li>
              </ul>              
              <%= image_tag  asset_path("メンバーログイン03.jpg"),class: "mt-5"%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2 " style="font-size:20px;">ログインするとマイページが表示されます</li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
      <a id="anc9" class="anchor"></a>
      <div id="メッセージ"class="card shadow rounded-start mt-5" style="width: 100%">
        <div class="card-header bg-se">
          <h4 class="m-0 font-weight-bold title">メンバー機能</h4>
        </div>  
        <div class="card-body-board">
          <div class="container">
            <div class="row p-3">
              <%= image_tag  asset_path("メンバー変更可能01.jpg")%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark w-100">
                <li class="mt-2" style="font-size:20px;">課題の確認</li>
                <li class="mt-2">①与えられた課題に着手したかを選択します</li>
                <li class="mt-2">②進捗報告や課題の疑問点をコメントします</li>
                <li class="mt-2">③進捗率をスライドバーで選択します</li>
                <li class="mt-2">値を変更したら変更ボタンを押して更新します</li>
                <li class="mt-2" style="font-size:20px;">教育進捗は進捗率のみ変更する事ができます</li>
              </ul>
              <%= image_tag  asset_path("メンバー店舗連絡01.jpg"),class: "mt-5" %>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2" style="font-size:20px;">店舗連絡の確認</li>
                <li class="mt-2">①タイトルと内容を入力すると店舗連絡の投稿が可能です</li>
                <li class="mt-2">②連絡事項を確認したらチェックボタンを押します</li>
              </ul>              
              <%= image_tag  asset_path("メンバー店舗連絡02.jpg"),class: "mt-5"%>
              <ul class="text-nowrap list-unstyled text-left alert alert-dark  w-100">
                <li class="mt-2 " style="font-size:20px;">自分の投稿したメッセージのみ編集することができます</li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
      
<!--col-終わり  -->
    </div>
  </div>
</div>