
<div class="container-fluid">
  <div class="row" style="height: 100%">
    <!--sidebar-------------------------->
    <div class = "col-md-2 sidebar">
      <div class="page-title">
        <i  class="fas fa-users"> Top</i>
      </div>
    </div>
    <!--sidebar-------------------------->
    <!--card----------------------------------->
      <div class="row">
        <div class="col-md-3">
          <div class="card shadow rounded-start" >
            <div class="card-header">
              <h6 class="m-0 font-weight-bold title">Manager</h6>
            </div>
              
            <div class="card-body text-center">
              <%= image_tag "figure_one_blue.jpg", :size => '200x200' %>
              <%= link_to "新規登録" ,new_manager_registration_path ,class: "btn btn-outline-primary shadow rounded form-control fas fa-book-reader"%>
              <%= link_to "ログイン" ,new_manager_session_path, class: "btn btn-outline-primary shadow rounded form-control fas fa-book-reader" %>
            </div>
          </div>
        </div> 
        <div class="col-md-3 ">
          <div class="card shadow rounded-start h-100" >
            <div class="card-header">
              <h6 class="m-0 font-weight-bold title ">Member</h6>
            </div>
            <div class="card-body text-center ">
              <%= image_tag "figure_group_blue.jpg", :size => '200x200'  %>
              <%= link_to "ログイン" ,new_member_session_path,class: "btn btn-outline-primary shadow rounded form-control fas fa-book-reader" %>
            </div>
          </div>
        </div> 
        <div class="col-md-3">
          <div class="card shadow rounded-start h-100" >
            <div class="card-header">
              <h6 class="m-0 font-weight-bold title">Gest Login</h6>
            </div>
            <div class="card-body text-center">
              <%= image_tag "figure_one_white", :size => '200x200' %>
              <%= link_to "ログイン" ,"#",class: "btn btn-outline-primary shadow rounded form-control fas fa-book-reader" %>
            </div>
          </div>
        </div> 
          </div>  
            </div>
    </div>
  </div>