<div class="container-fluid">
  <div class="row" >
    <% if member_signed_in? %>
      <h3>マネジャーとのメッセージルーム</h3>
      <div class="chat-field">
        <% @messages.each do |m| %>
          <!-- メッセージがmemberによるものだったら -->
          <% if m.is_member %>
            <!-- メッセージを右に寄せる -->
            <div class="right-message">
              <%= m.content %>
            </div>
          <!-- メッセージがmanagerによるものだったら -->
          <% else %>
            <!-- メッセージを左に寄せる -->
            <div class="left-message">
              <%= m.content %>
            </div>
          <% end %>
        <% end %>
      </div>
        <%= form_for [@room, @message] do |f| %>
          <%= f.text_field :content %>
          <%= f.submit "メッセージを送る"%>
        <% end %>
      
    <% elsif manager_signed_in?%>
      <div class = "col-lg-2 sidebar">
        <div class="page-title">
          <i class="fas fa-comments "> メッセージ</i>
        </div>
        <%= render "manager/members/sideber", members: @members %>
      </div>
      <div class = "col-lg-10 ">
        <div class = "row">
          <div class="mx-auto w-75 mt-3 ">
            <div class="card shadow rounded-start " >
              <div class="card-header">
                <h6 class="m-0 font-weight-bold title"><%= @member.name %>とのチャットルーム</h6>
              </div>
              <div class="card-body text-center" >      
                <div class="chat-field">
                  <% @messages.each do |message| %>
                    <!-- メッセージがmemberによるものだったら -->
                    <% if message.is_member %>
                      <!-- メッセージを左に寄せる -->
                      <div class="left-message">
                        <div class="message">
                          <span><%= message.content %></span>
                        </div>  
                      </div>
                      <!-- メッセージがmanagerによるものだったら -->
                    <% else %>
                      <!-- メッセージを右に寄せる -->
                      <div class="right-message">
                        <div class="message">
                        <%= message.content %>
                        </div>  
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <%= form_for [@room, @message] do |f| %>
                <div class="form-group form-inline">
                  <%= f.text_field :content ,placeholder: "メッセージを入力してください" ,class: "form-control w-75 "%>
                  <%= f.submit "メッセージを送る",class: "btn btn-outline-primary w-25 "%>
                </div>
                <% end %>
              </div>
            </div>
          </div> 
    <% end %>
        
      </div>
    </div>    
  </div>
</div>