<h1>Manager::GroupMessages#index</h1>
<%= @group_messages.each do |group_message| %>
<%= group_message.member_id %>
<%= group_message. %>
<%= group_message.member_id %>
<%= group_message.manager_id %>
<%= group_message.title %>
<%= group_message.body %>
<% end %>

