<div class="container-fluid">
  <div class="row" >
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2 sidebar">
      <div class="page-title">
        <i class="fas far fa-clipboard "> 店舗連絡</i>
      </div>
      <div class="sub-title">
        <i class="fas fa-paste">店舗連絡投稿</i>
      </div>      
        <%= form_with model: @group_message_new,url: manager_group_messages_path(@group_message),local: true do |f| %>
          <%= f.text_field :title,class: "form-control mt-1",placeholder: "タイトルを入力してください" %>
          <%= f.text_area :body ,class: "mt-1 form-control",id: "auto-resize" , placeholder: "内容を入力してください" %>
          <%= f.hidden_field :manager_id, value: @manager_id %>
          <%= f.hidden_field :group_id, value: @group.id %>
          <%= f.submit "連絡事項追加", class: "btn btn-secondary form-control mt-1" %>
        <% end %>
      </div>
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2"></div>
    <!--card----------------------------------->
    <div class="col-lg-10 col-md-10 col-sm-10 col-10 mt-3">
      <div class="card shadow rounded-start">
        <div class="card-header">
          <h6 class="m-0 font-weight-bold title">店舗連絡</h6>
        </div>  
        <div class="card-body">
          
        </div>
      </div>  
    </div>
  </div>
</div>
