<div class="row">
  <% educations.each do |education| %>
    <div class="col-6 w-100">
    <%= form_with model: education ,url: member_education_path(education),local: true do |f| %>
      <div class="card-body-m shadow-lg rounded m-4 ">
        <p class="w-25 text-primary font-weight-bold"><%= education.title %></p>
        <p class="font-weight-bold text-secondary">教育内容</p>
        <p class="text-secondary"><%= education.body %></p>
        <div class="d-flex justify-content-between">
          <div class=" font-weight-bold text-secondary "><%= education.progress %>%</div>
          <%= f.range_field :progress, :min=>0, :max=>100, class: "form-control-range w-50", id: "education_progress_#{education.id}" %>
          <%= f.submit "変更", id: "education_update_#{education.id}",class: "btn btn-sm btn-outline-success " %>
        </div> 
      </div>
    <% end %>
    </div>  
  <% end %>
</div>  