<div class="container-fluid">
  <div class="row" >
    <div class= "col-lg-2 member-sidebar">
      <div class="nonborder-title">
        <i class="fas fa-address-card "> プロフィール</i>
      </div>
        <div class="card shadow rounded-start mt-1" style="display:inline-block;">
          <div class="card-body text-center"  >
            <%= attachment_image_tag current_member, :image , format: 'jpeg', fallback: "member-no-image.jpg",:height => "100" %><br>
              <%= form_with model: @member, url: member_member_path(current_member), local:true do |f| %>
              <div class="image_wrapper">
              <div class="item_image_btn">
              <%= f.attachment_field :image, id: "file", style: "border: none",class: "form-control m-1"%>
              
              </div>
              <div id="img_field" class="mt-2" onClick="$('#file').click()" >
              <p>画像編集</p>
              </div>
              </div>
              
              <%= f.text_field :name,style: "border: none",class: "form-control m-1",placeholder: "メールアドレスを入力してください" %> 
              <%= f.text_field :email,style: "border: none",class: "form-control m-1", placeholder: "メールアドレスを入力してください" %> 
              <%= f.text_field :phone_number,style: "border: none",class: "form-control m-1",placeholder: "電話番号を入力してください" %> 
              <%= f.submit '変更を保存',id: "profile-update",class: "btn btn-outline-success form-control "  %>
              <% end %>
            <!--チャット機能リンク---------------------->
              <% if @manager_ids.include?(@manager.id) %>
                <%= link_to "チャットへ", room_path(current_member.rooms.find_by(manager_id: @manager.id)),class: "btn btn-outline-secondary form-control shadow rounded fas fa-comments mt-2" %><br>
              <% else %>
                <%= form_for Room.new do |f| %>
                  <%= f.hidden_field :manager_id, :value => @manager.id,class: "shadow rounded fas fa-comments btn btn-outline-secondary form-control mt-2" %>
                  <%= f.submit "マネジャーDM"%>
                <% end %>
              <% end %>
            <!--チャット機能リンク---------------------->              
          </div>
        </div>  
    </div>
    <div class="col-lg-9 mt-1">
      <!--errormessage---------------->
      <%#= render 'layouts/errors', obj: @education  %>
      <%#= render 'layouts/errors', obj: @task %>
      <!------------------------------>
      <div class= "row ml-1 mt-2 ml-2">
        <div class="card shadow rounded-start"style="width: 100%">
          <div class="card-header">
            <h6 class="m-0 font-weight-bold title">課題項目一覧</h6>
          </div>  
          <div class="card-body">  
            <%= render partial: "member/members/task", locals: { tasks: @tasks,task: @task,member_id: current_member.id  } %>
          </div>
        </div>
      </div>  
      <div class= "row ml-1 mt-3 ml-2">
        <div class="card shadow rounded-start" style="width: 100%">
          <div class="card-header">
            <h6 class="m-0 font-weight-bold title">教育項目一覧</h6>
          </div>  
          <div class="card-body">  
            <%= render partial: "member/members/education", locals: { educations: @educations,education: @education,member_id: current_member.id  }%>
          </div>
        </div>
      </div>  
  </div>
</div>
 