<h1>グループ編集</h1>
<!--abilitie_title-->
<!--<%#= form_with model: @abilitie_title,url: new_manager_abilities_titles_path,method:post ,local:true do |f| %>-->
<!--<%#= f.text_field :title %>-->
<!--<%#= f.submit "保存する", class: "btn btn-success" %>-->
<!--<%# end %>-->
<%= form_with model: @group, url: manager_group_path(@group), local:true do |f| %>
<div class="container col-6 mx-auto">
  <div>
    <%= f.label :name ,"グループ名" %>
    <%= f.text_field :name, class: "form-control"  %>
  </div>
  <div>
    <%= f.label :group_image,"グループ画像" %>
    <%= f.attachment_field :group_image %>
  </div>
  <div>
    <%= f.submit "変更を保存する", class: "btn btn-success" %>
    <% end %>
  </div>
  
<div>
  <%= link_to "戻る", manager_groups_path, class: "glyphicon glyphicon-home btn btn-outline-primary" %>
</div>
</div>