<div class="container-fluid">
  <div class="row" style="height: 100%">
    <!--sidebar-------------------------->
    <div class = "col-md-2 sidebar">
      <div class="page-title">
        <i  class="fas fa-users"> Groups</i>
      </div>
      <div class="nonborder-title text-center">
        <i  class="fas fa-plus-circle"> New Group</i>
      </div>
        <%= form_with model: @group,url: manager_groups_path, local:true do |f| %>
          <%= f.text_field :name, class: 'form-control goup_name', placeholder: "グループ名を入力してください" %>
          <%= f.submit class: 'btn btn-secondary form-control mt-2' %>
        <% end %>
    </div>
    <!--sidebar-------------------------->
    <!--card----------------------------------->
    <div class="col-md-10">
      <div class="row">
        <% @groups.each do |group| %>  
          <div class="col-md-3 mt-3">
            <div class="card shadow rounded-start">
              <div class="card-header">
                <h6 class="m-0 font-weight-bold title"><%=group.name %></h6>
              </div>  
              <div class="card-body text-center ">  
                <img>
                  <%= link_to manager_group_path(group.id) do %>
                  <%= attachment_image_tag(group, :group_image , :size=>"200x200", fallback: "figure_group_blue.jpg" ,:size=>"200x200")%>
                  <% end %>
                </img>  
                <%= form_with model: group, url: manager_group_path(group), local:true do |f| %>
                  <%= f.attachment_field :group_image ,style: "border: none",class: "form-control"%>
                  <%= f.text_field :name, style: "border: none",class: "form-control mt-2" %>
                  <%= f.submit "更新", class: "btn btn-success form-control mt-2" %>
                <% end %>
                <%= link_to "削除",manager_group_path(group) ,data: {confirm: "本当に削除しますか？"}, class: "btn btn-outline-danger form-control mt-2",method: :delete %>
              </div>  
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  </div>
</div>  
