<div class="row">
  <div class="col-md-2 d-none d-md-block bg-light sidebar">
    <ul class="navbar-nav text-secondary ">
    <li class="nav-item h3 mt-2"><i class="fas fa-clipboard"><%= link_to "グループ連絡板", manager_group_message_path(@group),class: "text-secondary"%></i></li>
    <li class="nav-item h3 mt-2"><i class="fas fa-user-friends"><%= link_to "メンバー追加",new_member_registration_path(group_id: @group.id),class: "text-secondary" %></i></li>
    <li class="nav-item h3 mt-2"><i class="fas fa-edit"><%= link_to "グループ名編集" ,edit_manager_group_path,class: "text-secondary" %></i></li>
    <li class="nav-item h4 mt-2">
    <%= form_with model: @ability_title,url: manager_ability_titles_path,local:true do |f| %>
      <%= f.label :title ,"能力項目"%>
      <%= f.text_field :title ,class: "form-control"%>
      <%= f.hidden_field :group_id,value: @group.id %>
      <%= f.submit "項目追加", class: "btn btn-secondary form-control" %>
    <% end %>
    </li>
    <% @ability_titles.each do |ability_title| %>
      <li class="nav-item mt-2" >
        
      <%= form_with model: ability_title,url: manager_ability_title_path(ability_title),local:true do |f| %>
        <%= f.text_field :title ,:size=>"15px"%>
        <%= f.hidden_field :group_id,value: ability_title.group_id %>
        <%= f.submit "変更", class: "btn btn-outline-success form-inline " %>
        <%= link_to "削除" , manager_ability_title_path(ability_title),class: "btn btn-outline-danger",method: :delete %>
      <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <div class=col-md-9>
<table class="table">
  <thead>
    <tr>
      <th>名前</th>
      <th>メンバー情報</th>
      <th>教育項目一覧</th>
      <th>課題一覧</th>
      <th>個人能力</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <%= link_to manager_member_path(member) do %>
        <td><%= member.name %></td>
      <% end %>
    <td><%= link_to "情報" ,manager_member_path(member),class: "btn btn-success" %></td>
    <td><%= link_to "教育" ,manager_education_path(member),class: "btn btn-success" %></td>
    <td><%= link_to "課題" ,manager_task_path(member),class: "btn btn-success" %></td>
    <td><%= link_to "能力" ,manager_ability_path(member),data: {"turbolinks" => false},class: "btn btn-success" %></td>
    </tr>
    <% end %>
  </tbody>
</table>