
  <div class="row" >
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2 sidebar">
        <div class="page-title">
          <i  class="fas fa-users"> メンバー一覧</i>
        </div>
          <%= link_to "　メンバー追加", new_member_registration_path(group_id: @group.id), class: "btn btn-primary shadow rounded fas fa-user-plus"  %>
    </div>
    <!--sidebar-------------------------->
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2"></div>
    <!--card----------------------------------->
    <div class="col-lg-10 col-md-10 col-sm-10 col-10">
      <div class="row">
          <% if @members.count == 0 %>
          <div class="card-body text-center">
            まだメンバーが登録されていません。<%= link_to "　メンバー追加", new_member_registration_path(group_id: @group.id), class: "btn btn-primary shadow rounded w-25 fas fa-user-plus"  %>からメンバーを追加してください。
          </div>
        <% else %>  
        <% @members.each do |member| %>
        <div class="col-md-3 mt-3 members">
        <%= link_to manager_member_path(member),data: {"turbolinks" => false} do %>
          <div class=" card shadow rounded-start w-100 h-100" >
            <div class="card-header">
              <h6 class="m-0 font-weight-bold title"><%= member.name %></h6>
            </div>  
            <div class="card-body text-center member_picture" >  
                <%= attachment_image_tag member, :image , format: 'jpeg', fallback: "member-no-image.jpg" ,size: "100x100" %><br>
              
              <div clas="row">
                  <p><%= member.name_kana %></p>
                  <p><%= member.email %></p>
                  <p><%= member.phone_number %></p>
                  <p><%#= member.is_deleted %></p>
              </div>  
            </div>  
          </div>
          <% end %>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>  
  </div>
