<div class="container-fluid">
  <div class="row" >
    <div class = "col-md-2 sidebar">
        <div class="page-title">
          <i  class="fas fa-users"> メンバー一覧</i>
        </div>
          <%= link_to "　メンバー追加", new_member_registration_path(group_id: @group.id), class: "btn btn-primary shadow rounded fas fa-user-plus"  %>
    </div>
    <div class="col-md-10 members">
      <div class="row">
        <% @members.each do |member| %>
        <div class="col-md-3 members">
        <%= link_to manager_member_path(member),data: {"turbolinks" => false} do %>
          <div class=" card shadow rounded-start w-100" >
            <div class="card-header">
              <h6 class="m-0 font-weight-bold title"><%= member.name %></h6>
            </div>  
            <div class="card-body" >  
              <div class="row flex-row">
                <div class="col-4">
                  <%= attachment_image_tag member, :image , format: 'jpeg', fallback: "no_image.jpg" ,size: "100x100" %><br>
                </div>
                <div clas="col-8">
                  <p><%= member.name_kana %></p>
                  <p><%= member.email %></p>
                  <p><%= member.phone_number %></p>
                  <p><%= member.is_deleted %></p>
                </div>  
              </div>
            </div>  
          </div>
          <% end %>

          <h5>メンバープロフィールにとびます</h5>
        </div>
        <% end %>
      </div>
    </div>  
  </div>
</div>