<div class="container-fluid">
    <div class="row" style="height: 100%">
      <!--sidebar-------------------------->
      <div class = "col-lg-2 col-md-2 col-sm-2 col-2 sidebar">
        <div class="page-title">
          <i  class="fas fa-user-friends"> マネジャー登録</i>
        </div>
      </div>
    <!--sidebar-------------------------->
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2"></div>
    <!--card----------------------------------->
    <div class="col-lg-10 col-md-10 col-sm-10 col-10">
        <div class="row">
          <div class="mx-auto w-50">
            <div class="card shadow rounded-start" >
              <div class="card-header">
                <h6 class="m-0 font-weight-bold title">Manager Sign up</h6>
              </div>
              <div class="card-body text-center">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "managers/shared/error_messages", resource: resource %>
                  <div class="form-group">
                    <%= f.label :email, "Email" %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control", placeholder: "メールアドレスを入力してください" %>
                  </div>
                
                  <div class="form-group">
                    <%= f.label :password ,"password"  %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password",class: "form-control", placeholder: "パスワードを設定してください"%>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation ,"password_confirmation"%><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "form-control", placeholder: "確認用パスワード"%>
                  </div>
                  <div class="actions">
                    <%= f.submit "Sign up" ,class: " btn btn-secondary form-control "%>
                  </div>
                <% end %>
                <%= render "managers/shared/links" %>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
