<header>
<div class="container-fluid">
  <div class="row" style="height: 100%">
    <div class="col-md-2 sidebar">
      <div class="name">
        <img src="/assets/logo.jpg" alt="logo" width="30" height="30">
        <%= link_to "Store Education", root_path, class: "font-italicn text-decoration-none logo-text "  %>
      </div>
    </div>
    <div class="col-md-10 navbar">

        
      <% if manager_signed_in?  %>
        <%= link_to "　ログアウト", destroy_manager_session_path, class: "btn btn-primary shadow rounded fas fa-sign-out-alt " , method: :delete%>
        <%= link_to "　グループ一覧", manager_groups_path, class: "btn btn-primary shadow rounded fas fa-users "  %>
          <% if (controller_path == 'manager/groups' && action_name == 'show'||controller_path == 'manager/members' && action_name == 'show'||controller_path == 'manager/group_messages' && action_name == 'show'
          )%>
            <%= link_to "　グループ連絡", manager_group_message_path(@group), class: "btn btn-primary shadow rounded fas fa-clipboard"  %>
            <%= link_to "　メンバー一覧", manager_group_path(@group), class: "btn btn-primary shadow rounded fas fa-clipboard"  %>
          <% end %>
      <% elsif member_signed_in? %>
        <%= link_to "　マイページ", member_members_path, class: "btn btn-primary shadow rounded fas fa-address-card "  %>
        <%= link_to "　グループ連絡", member_group_messages_path, class: "btn btn-primary shadow rounded fas fa-clipboard "  %>
        <%= link_to "　ログアウト", destroy_member_session_path, class: "btn btn-primary shadow rounded fas fa-sign-out-alt " , method: :delete %>
      <% else %> 
        <%= link_to "　About", "", class: "btn btn-primary shadow rounded fas fa-download " %>  
        <%= link_to "　top", "", class: "btn btn-primary shadow rounded fas fa-download " %>
      <% end %>   
      <div class="row mx-auto ">
        <% flash.each do |key, value| %>
          <div class="<%= key %> w-100" role="alert">
            <%= value %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>    

</header>