<header>

<div class="container-fluid">
  <div class="row" >
    <div class="col-md-2 sidebar">
        <!--<%= image_tag asset_path("logo.jpg"), :size => '30x30' %>-->
        <%= link_to root_path  do%>  
          <div class="logo">
            <span>S</span>tore<span>E</span>ducation
          </div>
        <% end %>
    </div> 
      <ul id="tab-menu">
     <% if manager_signed_in?  %>
      <li>
        <%= link_to "ログアウト" ,destroy_manager_session_path, class: " fas fa-sign-out-alt " , method: :delete %>
      <li class="<%= "active" if (controller_path == 'manager/groups' && action_name ==  'index')%>"><%= link_to "店舗一覧", manager_groups_path,data: {"turbolinks" => false}, class: "fas fa-store-alt "  %></li>
      <% if (controller_path == 'manager/groups' && action_name == 'show'||
        controller_path == 'manager/group_messages' && action_name == 'show'||
        controller_path == 'manager/members' && action_name == 'show'||
        controller_path == 'manager/abilities' && action_name == 'show'||
        controller_path == 'manager/educations' && action_name == 'show'||
        controller_path == 'manager/tasks' && action_name == 'show'||
        controller_path == 'rooms' && action_name == 'show'
      )%>
      <li class="<%= "active" if (controller_path == 'manager/group_messages' && action_name == 'show')%>"> <%= link_to "店舗連絡", manager_group_message_path(@group),data: {"turbolinks" => false}, class: " fas fa-clipboard"  %></li>
      <li class="<%= "active" if (controller_path == 'manager/groups' && action_name == 'show')%>"><%= link_to "メンバー一覧", manager_group_path(@group),data: {"turbolinks" => false}, class: " fas fa-users"  %></li>
      <% end %>
      <% elsif member_signed_in? %>
      <li><%= link_to "ログアウト", destroy_member_session_path, class: " fas fa-sign-out-alt " , method: :delete %></li>
      <li class="<%= "active" if (controller_path == 'member/members' && action_name == 'index')%>"><%= link_to "マイページ", member_members_path,data: {"turbolinks" => false}, class: "fas fa-address-card "  %></li>
      <li class="<%= "active" if (controller_path == 'member/group_messages' && action_name == 'index')%>"><%= link_to "店舗連絡", member_group_messages_path,data: {"turbolinks" => false}, class: " fas fa-clipboard "  %></li>
      <% else %>
      <!--<li><%#= link_to "Top", "",data: {"turbolinks" => false}%></li>-->
      <li><%= link_to "使い方", homes_about_path,data: {"turbolinks" => false}, class: " fas fa-question " %></li>
      <% end %> 
      </ul>
    <%= render "layouts/flash" %>
    <%= render "layouts/errors"%>
    </div>
  </div>
</div>    

</header>
<script>


</script>