<header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <div class="name">
        <img src="/assets/logo.jpg" alt="logo" width="45" height="45">
        <%= link_to "StoreEducation", root_path, class: "font-italicn text-decoration-none logo-text "  %>
      </div>
    </div>
    <div class="col-md-10">
      <% if manager_signed_in?  %>
        <%= link_to "　Log out", destroy_manager_session_path, class: "btn btn-primary shadow rounded fas fa-sign-out-alt " , method: :delete%>
        <%= link_to "　Grops", manager_groups_path, class: "btn btn-primary shadow rounded fas fa-users "  %>
          <% if (controller_path == 'manager/groups' && action_name == 'show'||controller_path == 'manager/members' && action_name == 'show'||controller_path == 'manager/group_messages' && action_name == 'show'
          )%>
            <%= link_to "　GropMessages", manager_group_message_path(@group), class: "btn btn-primary shadow rounded fas fa-users"  %>
            <%= link_to "　PlusMember", new_member_registration_path(group_id: @group.id), class: "btn btn-primary shadow rounded fas fa-user-friends"  %>
            <%= link_to "　GropEdit", edit_manager_group_path, class: "btn btn-primary shadow rounded fas fa-edit"  %>
          <% end %>
      <% elsif member_signed_in? %>
        <%= link_to "　マイページ", member_member_path(current_member), class: "btn btn-primary shadow rounded fas fa-download "  %>
        <%= link_to "　グループ連絡", member_group_message_path(current_member), class: "btn btn-primary shadow rounded fas fa-download "  %>
        <%= link_to "　ログアウト", destroy_member_session_path, class: "btn btn-primary shadow rounded fas fa-sign-out-alt " , method: :delete %>
      <% else %> 
        <%= link_to "　About", "", class: "btn btn-primary shadow rounded fas fa-download " %>  
        <%= link_to "　top", "", class: "btn btn-primary shadow rounded fas fa-download " %>
      <% end %>   
    </div>
  </div>
</div>    

</header>