<!DOCTYPE html>
<html>
  <head>
    <title>StoreEducation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet"><script src="https://kit.fontawesome.com/f62b1747c1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  </head>

  <body>
    
    <%= render "layouts/header" %>
    <%= render "layouts/flash" %>

        <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
